body {
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    font-weight: bold;
}

a {
    color: #2E78E6;
}

div.top-five {
    width: 500px;
    background: #bdbdbd;
    display: none;
    border-radius: 5px;
    padding: 10px;
}

h2 {
    cursor: pointer;
}